.main {
  width: 1024px;
  margin: 20px auto;
}

.main h1 {
  text-align: center;
}

.panel {
  display: flex;

  margin-top: 20px;
  padding: 20px;

  background-color: #efefef;
}

.left-panel {
  position: relative;
  width: 300px;
}

.left-panel .content {
  display: flex;
  justify-content: center;
}

.right-panel {
  flex: 1;
  white-space: pre-wrap;
}

.block {
  width: 100px;
  height: 60px;

  background: #fb3;
}

.normal-box-shadow {
  box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.5);
}

.box-shadow-1-sides {
  /* 将水平的阴影缩小到与元素尺寸一致 */
  /* 垂直偏移比模糊半径大 , 底部实际阴影尺寸为2px ( 6 + 4 - 8 = 2 ) */
  box-shadow: 0px 6px 4px -4px rgb(0, 0, 0, 0.5);
}

.box-shadow-2-sides {
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
}

.box-shadow-opposite-sides {
  box-shadow: 4px 0px 4px -4px rgb(0, 0, 0, 0.5),
    -4px 0px 4px -4px rgb(0, 0, 0, 0.5);
}

.drop-shadow {
  position: relative;
  filter: drop-shadow(0px 0px 4px rgb(0, 0, 0, 0.5));
  border-radius: 2px 2px;
}

.drop-shadow::after {
  content: "";

  position: absolute;
  top: 10px;
  right: -20px;

  display: block;
  width: 0;
  height: 0;
  border: solid 10px transparent;
  border-left-color: #fb3;
  /* border-right: transparent; */
}

/* 折角效果 */
.folded-corner {
  position: relative;

  background: none;

  /* 切角效果: -145 线性渐变 */
  /* 三角形: 通过三角函数计算出尺寸 , 以便三角形和切角重合 */
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.4) 50%, transparent 0)
      no-repeat 100% 0 / 14px 14px,
    linear-gradient(-135deg, transparent 9.899494936611665px, #58a 0);
}

/* 真实的折角效果 - 需要旋转 */
.folded-corner-realisitc {
  position: relative;

  background: none;
  background: linear-gradient(-150deg, transparent 16px, #58a 0);
}

.folded-corner-realisitc::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  /* x = 16 / sin30 = 32px */
  /* y = 16 / cos30 = 18.5px */
  /* 36 = y + x */
  width: 18.5px;
  height: 32px;
  border-bottom-left-radius: 4px;
  background: linear-gradient(
    to bottom left,
    transparent 50%,
    rgba(0, 0, 0, 0.4) 0
  );
  transform: translateY(-13.5px) rotateZ(-30deg);
  transform-origin: bottom right;
}
